@import 'variables';
@import 'mixins';

%va__input {
  width: 100%;

  & > input {
    height: 48px;
    width: 100%;
    font-size: $font-default;
    padding: 12px;
    box-sizing: border-box;
    background-color: $zinc-100;
    border-radius: $border-radius;
    color: $black;
    border: 1px solid $zinc-400;

    &.ng-invalid.ng-touched {
      color: $red;
      border: 1px solid $red;

      &:focus {
        outline: none;
        border: 1px solid $red;
        @include box-shadow(0 0 0 4px rgba($red, 0.1))
      }
    }

    &:focus {
      outline: none;
      border: 1px solid $zinc-800;
      @include box-shadow(0 0 0 4px $zinc-300)
    }
  }
}

%va__select {
  width: 100%;

  & > select {
    height: 48px;
    width: 100%;
    font-size: $font-default;
    padding: 12px;
    box-sizing: border-box;
    background-color: $zinc-100;
    border-radius: $border-radius;
    color: $black;
    border: 1px solid $zinc-400;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-transform: capitalize;

    &.ng-invalid.ng-touched {
      color: $red;
      border: 1px solid $red;

      &:focus {
        outline: none;
        border: 1px solid $red;
        @include box-shadow(0 0 0 4px rgba($red, 0.1))
      }
    }

    &:focus {
      outline: none;
      border: 1px solid $zinc-800;
      @include box-shadow(0 0 0 4px $zinc-300)
    }
  }
}

%va__form--error {
  color: $red;
  text-align: left;
  font-size: $font-xs;
  margin-top: 8px;
}
